/* Service Overview Styling */
.service-overview {
  background-color: #f4f7f6; /* Light gray background */
  padding: 40px 20px;
  margin: 80px 0 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.service-overview h2 {
  text-align: center;
  font-size: 2rem;
  color: #008793;
  margin-bottom: 20px;
}

.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px; /* Space between text and image */
}

.overview-text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.overview-image {
  flex: 1;
}

.overview-image-content {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Image shadow */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack elements vertically */
    text-align: center;
    padding: 10px;
  }

  .logo-container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 60px; /* Reduce logo size */
    margin-bottom: 10px;
  }
  .tagline {
    font-size: 16px; /* Reduce tagline size */
  }
  .header-nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px !important;
    justify-content: center;
  }
  .header-nav a {
    font-size: 14px; /* Reduce link size */
    padding: 5px;
  }
  .cta-button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .overview-container {
    flex-direction: column;
    text-align: center;
  }
  .overview-image {
    margin-top: 20px;
  }
}
.packages-offers {
  padding: 40px 20px;
  background-color: #f4f7f6; /* Light gray background */
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.packages-offers h2 {
  text-align: center;
  font-size: 2rem;
  color: #008793;
  margin-bottom: 30px;
}

.customizable-packages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.custom-package-image {
  flex: 1;
}

.custom-package-image-content {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Image shadow */
}

.custom-package-text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.offer-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
.cta-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .vehicles-container {
    flex-direction: column;
    align-items: center;
  }
  .customizable-packages {
    flex-direction: column;
    text-align: center;
  }

  .custom-package-image {
    margin-bottom: 20px;
  }

  .custom-package-text {
    flex: none;
  }
}

.about{
  padding: 10px;
  font-weight: 800;
  color: #274472;
  font-size: 18px;
  text-decoration: none;
}
.about:hover {
  color: #ffffff; /* Change text color on hover */
  background-color: #274472; /* Add a subtle background color */
  border-radius: 5px; /* Rounded corners for hover background */
}

/* Container for the pricing table */
.pricing-table {
  width: 98%;
  margin: 30px auto;
  /*padding: 20px;*/
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styles for the pricing table */
.pricing-table h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #008793; /* Blue color for headings */
  text-transform: uppercase;
  font-weight: bold;
}

/* Column for each pricing section */
.pricing-column {
  display: block;
  padding: 0 40px 40px 40px;
  vertical-align: top;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Column title */
.pricing-column h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #008793;
  text-transform: uppercase;
  font-weight: 600;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Header */
table th,
table td {
  padding: 14px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1rem;
}

/* Header Row Styling */
table th {
  background-color: #008793;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Table Data Row Styling */
table td {
  background-color: #f9f9f9;
  font-weight: bold;
  font-style: italic;
  color: darkslategrey;
  transition: background-color 0.3s ease;
}

/* Alternating row colors */
table tr:nth-child(even) td {
  background-color: #f1f1f1;
}

/* Hover effect for rows */
table tr:hover td {
  background-color: #e9e9e9;
  cursor: pointer;
}

/* Highlighted text within the table */
table .highlight {
  color: #008793;
  font-weight: bold;
}

/* Responsive Design: For smaller screens */
@media (max-width: 768px) {
  .pricing-column {
    width: 100%;
    margin-bottom: 20px;
  }

  table {
    font-size: 0.9rem;
  }

  table th,
  table td {
    padding: 10px;
  }
}


/*-----------------------------------!**!*/

/* General container */
.services-container {
  /*max-width: 1200px;*/
  margin: 0 auto;
  /*padding: 0 0 40px 0;*/
  font-family: Arial, sans-serif;
}

/* Service Section Titles */
.services-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #274472;
}

.section-heading {
  font-size: 2rem;
  color: #008793;
  margin-bottom: 20px;
  text-align: center;
}

/* Service Overview */
.intro-text {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: #555;
}

/* Packages and Offers */
.packages-offers .seasonal-offers,
.packages-offers .customizable-packages {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.offer-title {
  font-size: 1.5rem;
  color: #008793;
  margin-bottom: 10px;
}

.cta-button {
  width: auto;
  background-color: #008793;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
}

.cta-button:hover {
  background-color: #1f3d56;
}

/* Service Categories */
.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.category-card .category-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.category-title {
  font-size: 1.5rem;
  color: #008793;
  margin-bottom: 10px;
}

.category-card p {
  color: #555;
}

/* Testimonials */
.testimonials {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.testimonial {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #555;
}

.testimonial span {
  display: block;
  font-style: italic;
  color: #274472;
  margin-top: 5px;
}

/* Call to Action */
.cta-section {
  text-align: center;
  margin-top: 50px;
}

.cta-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: #274472;
  margin-bottom: 20px;
}
.package{
  padding-top: 15px;
}
.logo1{
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
  right: 20px;
}

.luxury-vehicles {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}
.section-title {
  font-size: 2.5em;
  color: #008793;
  margin-bottom: 30px;
}
.vehicles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.vehicle-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  p{
    color: darkslategrey;
  }
}
.vehicle-card:hover {
  transform: scale(1.05);
}

.vehicle-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.vehicle-title {
  font-size: 1.5em;
  margin-top: 15px;
  color: #008793;
}
.book-btn {
  background-color: #0073e6;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
  transition: background-color 0.3s;
}

.book-btn:hover {
  background-color: #005bb5;
}
.transport{
  font-size: 2rem;
  color: #008793;
  margin-bottom: 20px;
  text-align: center;
}
.vehicle-card{
  p{
    strong{
      color: #008793;
    }
    font-weight: 900;
  }
}

/* General Responsive Fixes */
@media (max-width: 768px) {
  /* Navigation */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    display: block;
    margin: 10px 0;
  }

  /* Service Overview */
  .overview-container {
    flex-direction: column;
    text-align: center;
  }
  .overview-text, .overview-image {
    width: 100%;
  }
  .overview-image-content {
    width: 100%;
    max-width: 400px;
  }

  /* Packages Section */
  .customizable-packages {
    flex-direction: column;
    text-align: center;
  }
  .custom-package-image, .custom-package-text {
    width: 100%;
  }
  .custom-package-image-content {
    width: 100%;
    max-width: 400px;
  }

  /* Pricing Tables */
  .pricing-table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-column {
    width: 100%;
    overflow-x: auto;
  }
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  /* Luxury Vehicles */
  .vehicles-container {
    flex-direction: column;
    align-items: center;
  }
  .vehicle-card {
    width: 100%;
    max-width: 400px;
  }
  .vehicle-image {
    width: 100%;
    height: auto;
  }

  /* Testimonials */
  .testimonials {
    text-align: center;
  }
  .testimonial {
    width: 100%;
  }

  /* Call to Action */
  .cta-section {
    text-align: center;
  }
  .cta-button {
    width: 100%;
    max-width: 200px;
  }
}
.uniform, footer{
  background: url('https://www.transparenttextures.com/paper.png'), linear-gradient(to right, #8B5E3C, #2C3E50);
}
.colorful-text{
  background: linear-gradient(to right, #274472, #1d3557);
  color: white;
}
.text-colors{
  color: white !important;
}
.section , .explore-more{
  background: linear-gradient(to right, #274472, #1d3557);
}
.destination-card{
  img{
    height: calc(100vh - 737px);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: url('https://www.transparenttextures.com/paper.png'), linear-gradient(to right, #8B5E3C, #2C3E50);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  h1{
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background: white;
}

.header-nav {
  display: flex;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 15px;
  transition: color 0.3s;
}
@media (max-width: 768px) {
  .service-overview, .packages-offers, .pricing-table, .luxury-vehicles, .testimonials, .cta-section{
    /*width: calc(100vh - 92px)*/
  }
  .vehicle-card{
    width: auto !important;
  }
}
footer {
  margin-top: 10px;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
@media (max-width: 768px) {
  .contact-btn {
    width: fit-content; /* Reduce button width */
    font-size: 14px; /* Reduce font size */
    padding: 10px; /* Adjust padding */
  }

  .email-btn {
    margin-bottom: 100px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  .whatsapp-btn{
    margin-bottom: 40px;
    left: 10px;
    right: 10px;
  }
}
.sticky-footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-btn {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.contact-btn img {
  width: 30px;
  height: 30px;
}
.review-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 40px;
  transform: translateX(-100%);
  white-space: nowrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
