
<div *ngIf="isVisible" class="modal-backdrop">
  <div class="modal-content">
    <div class="modal-header">
      <h2><img src="images/logo-vintage.png" alt="Savitr Travels Logo" class="logo1" /> <span class="highlight">Welcome to Savitr Travels!</span></h2>
      <button class="close-button" (click)="hide()">×</button>
    </div>
    <div class="modal-body">
      <p>Embark on unforgettable journeys with us and create memories that last a lifetime.</p>
      <p>
        📧 <span class="highlight">Email:</span> {{ 'enquiry@savitrtravels.com' }}<br />
        📧 <span class="highlight">Email:</span> {{ 'savitrtravels@gmail.com' }}<br />
        📞 <span class="highlight">Phone:</span> +91 9591929117  <br />
        📞 <span class="highlight">Phone:</span> +91 9629016946
      </p>
      <p>
        🚗 Whether you need a relaxing getaway, a thrilling adventure, or a quick city escape,
        we’re here to make your travels hassle-free and enjoyable.
      </p>
      <p class="cta"><span class="highlight">💡 Ready to plan your next trip?</span><br />
        Contact us today and let us craft the perfect itinerary for you!
      </p>
    </div>
    <div class="modal-footer">
      <button class="primary-button" (click)="hide()">Okay</button>
    </div>
  </div>
</div>

