<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Savitr Travels</title>
</head>
<body>
<div>
  <header class="header">
    <div class="logo-container">
      <img class="logo" src="/images/logo1.png" alt="Savitr Travels Logo" />
      <h1 class="tagline">Your Gateway to South India's Beauty!</h1>
    </div>
    <nav class="header-nav">
      <a href="/home">Home</a>
      <a href="/destinations">Destinations</a>
      <a href="/services">Services</a>
      <a href="/questions">FAQs</a>
      <a href="/about-us">Contact</a>
    </nav>
<!--    <button class="cta-button" >Plan Your Trip</button>-->
  </header>

</div>

<div class="hero">
  <h2>Discover the Beauty of South India</h2>
</div>

<section class="section">
  <h2>Top Tourist Destinations in India</h2>
  <div class="destinations">
    <div class="destination-card">
      <img src="/images/mysore_palace.jpg" alt="Andaman Islands">
      <h3>Mysore, Karnataka</h3>

      <p>The Crown Jewel of Karnataka's Royal Heritage.</p>
    </div>
    <div class="destination-card">
      <img src="/images/coorg.jpeg" alt="Coorg">
      <h3>Coorg, Karnataka</h3>
      <p>Coorg is known for its coffee plantations, misty hills, waterfalls like Abbey Falls, and serene landscapes perfect for nature lovers.</p>
    </div>
    <div class="destination-card">
      <img src="/images/ooty.jpeg" alt="Ooty">
      <h3>Ooty, Tamil Nadu</h3>
      <p>The "Queen of Hill Stations," Ooty is famous for its tea gardens, botanical gardens, and the Nilgiri Mountain Railway.</p>
    </div>
    <div class="destination-card">
      <img src="/images/pondicherry.jpg" alt="Pondicherry">
      <h3>Pondicherry</h3>
      <p>Pondicherry offers French colonial charm, serene beaches, and a unique blend of Indian and European cultures.</p>
    </div>
    <div class="destination-card">
      <img src="/images/munnar.jpg" alt="Munnar">
      <h3>Munnar, Kerala</h3>
      <p>Munnar is a serene hill station known for its tea gardens, lush green hills, and beautiful viewpoints such as Top Station and Echo Point.</p>
    </div>

    <div class="destination-card">
      <img src="/images/hampi.jpg" alt="Hampi">
      <h3>Hampi, Karnataka</h3>
      <p>Hampi is a UNESCO World Heritage Site famous for its ancient ruins, temples, and stunning landscapes along the Tungabhadra River.</p>
    </div>
  </div>
</section>
<footer>
  <p>&copy; Your Journey, Our Priority. All Rights Reserved.</p>
</footer>
</body>
<div class="sticky-footer">
  <button class="contact-btn whatsapp-btn" (click)="chatOnWhatsApp('+919591929117')">
    Ask Us on WhatsApp!
  </button>
  <button class="contact-btn email-btn" (click)="mailUs()">
    Drop a Mail – We’re Here!
  </button>
</div>

</html>
